.actionbar-heading {
    font-size: 4rem;
}

.actionbar-description {
    font-size: 1rem;
    margin: 10px;
}

.actionbar-filter {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    display: block;
    margin: 0;
}

.actionbar-filter:hover {
    background-color: lightgray;
}

.actionbar-input:focus {
    outline: none;
    border-color: #0070f3;
    box-shadow: 0 0 0 2px rgba(0,112,243,0.2);
}