.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color_white);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
}

.card-container-center {
    align-items: center;
    justify-content: center;
}

.card-container-left {
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    margin-bottom: 10px;
}