.contactform-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contactform-description {
    font-size: 1.1rem;
    color: var(--color_gray-700);
    margin-bottom: 2rem;
}

.contactform-submitting, .contactform-error, .contactform-success {
    font-size: 1rem;
    margin: 0 0 5px 0;
}

.contactform-submitting {
    color: var(--color_turquoise)
}

.contactform-error {
    color: var(--color_primary);

}

.contactform-success {
    color: var(--color_success);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}



