.contactform-heading {
    font-size: 3rem;
}

.contactform-description {
    font-size: 1.2rem;
    margin: 5px 10px 10px 5px;
}

input, textarea {
    width: 95%;
    padding: 15px 20px;
    border: 1px gray solid;
    box-shadow: 1px 1px 1px black;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contactform-textarea-context {
    resize: none;
    height: 140px;
}

.contactform-error {
    color: var(--color_primary);
    font-size: 1.2rem;
    margin: 0 5px 5px 5px;
}

.contactform-success {
    color: var(--color_primary);
    font-size: 1.2rem;
    margin: 0 5px 5px 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


