:root {
  --background: #ffffff;
  --foreground: #212529;
  --card-background: #f5f5f5;
  --color_primary: #e60000;
  --color_dark: #25282b;
  --color_gray-60: #757e84;
  --color_gray-100: #f4f4f4;
  --color_gray-200: #ebebeb;
  --color_gray-300: #ccc;
  --color_gray-400: #afafaf;
  --color_gray-600: #666;
  --color_gray-500: #999;
  --color_gray-700: #333;
  --color_gray-800: #222;
  --color_gray-900: #000;
  --color_white: #fff;
  --color_black: #000;
  --color_blue-60: #0076a0;
  --color_turquoise: #007c92;
  --color_success: #008a00;
  --a11y-outline-color: #0db1f2;

  --font: Vodafone, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 14px;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Vodafone, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

