.page {
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.page-container > * {
    max-width: 900px;
    margin: 0 auto;
}