.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0)), url("https://vodafoneziggo.scene7.com/is/image/vodafoneziggo/Ontwerp%20zonder%20titel?fmt=webp-alpha&qlt=100,0&bfc=off&wid=2480&fit=constrain");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.page-container > * {
    max-width: 900px;
    margin: 0 auto;
}