.service-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto; /*Read about */
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("https://vodafoneziggo.scene7.com/is/image/vodafoneziggo/Ontwerp%20zonder%20titel?fmt=webp-alpha&qlt=100,0&bfc=off&wid=2480&fit=constrain");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.service-page-header-to-be-made {
    grid-row: 1;
    height: 20px;
    width: 100%;
}

.service-page-actionbar-container {
    grid-row: 2;
    width: 100%;
}

.services-container {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Read about */
    gap: 20px;
    width: 100%;
}

.service-page-contact-footer {
    grid-row: 4;
    width: 100%;
}

.service-page-container > * { /* Read about */
    max-width: 1200px;
    margin: 0 auto;
}

