.service-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0)), url("https://vodafoneziggo.scene7.com/is/image/vodafoneziggo/Ontwerp%20zonder%20titel?fmt=webp-alpha&qlt=100,0&bfc=off&wid=2480&fit=constrain");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.service-page-header-to-be-made {
    grid-row: 1;
    height: 20px;
    width: 100%;
}

.service-page-actionbar-container {
    grid-row: 2;
    width: 100%;
    padding: 0 1rem 1.5rem 1rem;
}

.service-page-services-container {
    grid-row: 3;
    width: 100%;
    padding: 0 1rem 1.5rem 1rem;
}

.service-page-contact-container {
    grid-row: 4;
    width: 100%;
    padding: 0 1rem 1.5rem 1rem;
}

.service-page-container > * { /* Read about */
    max-width: 900px;
    margin: 0 auto;
}

